// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

$white: #ebebeb;
$dark-blue: #3879d9;
$light-blue: $dark-blue + 70%;


$head-font: 'Patua One', sans-serif;
$body-font: 'Inika', serif;
