// _variables.scss
// =================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

$beige: #e3c691;
$dark-green-gold: #8d8862;
$light-green: #c0dc99;
$green: #507356;
$light-blue: #97d5d9;
$desat-blue: #464b65;
$purple: #3e2b3d;
$dark-purple: #3a3248;
$pink: #cc8e94;
$skin: #b08b7b;

$head-font: 'Patua One', sans-serif;
$body-font: 'Inika', serif;
