@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #eddbba;
  font-family: "Inika", serif;
  font-size: 1.1em; }

#content {
  color: #cc8e94;
  font-size: 3em; }

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }

headings() {
  font-family: "Patua One", sans-serif;
  font-size: 3em; }

h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #507356; }

@media (max-width: 700px) {
  h1 {
    font-size: 2.2em; } }

h2 {
  font-size: 1.5em;
  color: #3e2b3d; }

p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #3e2b3d;
  margin-bottom: 20px;
  margin-top: 15px; }

section {
  padding: 20px 0; }

.artgroup::after {
  clear: both;
  content: "";
  display: table; }
